{% extends "base/base.html" %}
{% load static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
{% endblock %}
{% load static %}{% load i18n %}
{% block title %}Collections{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}

    <div class="container">

        <div class="container">
            <header>
                <h2>Коллекции слов для фильтрации</h2>
                <span class="byline">Выберите темы, которые вам не интересны и больше вы их не увидите</span>
            </header>
            <div class="row">
                {% for object in object_list %}
                    <section class="6u">
                        <div class="box">
                            <a href="#" class="image left"><img src="{% static 'images/pics04.jpg' %}" alt=""></a>
                            <h2>{{ object.title }}</h2>
                            <p>Donec nonummy magna quis risus eleifend. </p>
                            <a href="{% url 'filters:collection-detail' object.pk %}" class="button">Подробности</a>
                            <a href="{{ object.pk }}" class="button button-collection
                            {% if collections and object.pk in collections %}
                                button-unsubscribe">Удалить
                            {% else %}
                                button-subscribe">Добавить
                            {% endif %}
                            </a>
                        </div>
                    </section>
                {% empty %}

                {% endfor %}
            </div>
        </div>
    </div>




    <script type="text/javascript">

        var subscribe_url = '{% url 'filters:collection-subscribe' %}';
        var unsubscribe_url = '{% url 'filters:collection-unsubscribe' %}';


        $('.button-collection').click(function () {
            var element = $(this);
            console.log(element.hasClass('button-subscribe') ? subscribe_url : unsubscribe_url);
            ajaxPost(element.hasClass('button-subscribe') ? subscribe_url : unsubscribe_url, {'collection': $(this).attr('href')},
                    function (content) {
                        if (content.ok) {
                            element.toggleClass('button-subscribe button-unsubscribe');
                            element.text(element.text().trim() == 'Добавить' ? 'Удалить' : 'Добавить');
                        }
                        else {
                            console.log('ERROR!!')
                        }
                    });
            return false;
        });

    </script>


{% endblock content %}
