<!DOCTYPE HTML>
{% load staticfiles i18n %}
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>{% block title %}project{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet'
          type='text/css'>
    <!--[if lte IE 8]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-panels.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/skel-noscript.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style-desktop.css' %}"/>
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie/v8.css' %}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie/v9.css' %}" /><![endif]-->


    {% block extra_js %}{% endblock %}

    {% block angular %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    {% endblock %}

</head>
<body class="no-sidebar">

<!-- Header -->
{% include 'blocks/_nav_bar.html' %}
<!-- Header -->


{% block banner %}
<!-- Banner -->
<div id="banner">
</div>
<!-- /Banner -->
{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

<!-- Main -->

<div id="page">

    {% block content %}


    {% endblock content %}
</div>


<!-- /Main -->

<!-- Copyright -->
<div id="copyright" class="container">
    Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
        href="http://unsplash.com/cc0">CC0</a>)
</div>

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <!-- Latest JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Tether - a requirement for Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place apps specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}


</body>
</html>
